/* CSS DO HEADER */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background-color: aqua;
  display: flex; /* Adiciona flexbox */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
}

/* Index - página principal */
.index {
  margin-top: 7%;
  margin-right: 5%;
  margin-left: 5%;
  width: 90%;
  background-color: lightblue;
}

/* Informação do Index */
.informacao {
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: solid 2px black;
}
.user-info {
  display: flex;
  align-items: center;
}
.user-info > img {
  height: 15%; /* Tamanho da imagem, ajuste conforme necessário */
  width: 15%; /* Para manter a proporção da imagem */
  margin-right: 10px; /* Espaçamento entre a imagem e o texto */
}
.receita {
  margin-top: 10px; /* Espaçamento entre o nome do usuário e a receita */
}
.ingredientes{
  padding: 0px;
}
.preparacao{
  padding: 0px;
}

.receita-conteudo{
  margin: 25px;
}

.receita-info-geral, .receita-info-dificuldade-tempo {
  display: flex;
  justify-content: space-between; /* Isso alinha os itens à esquerda e à direita */
}

.titulo-receita, .data-criacao {
  margin: 0; /* Remove a margem padrão dos parágrafos */
}


/*  */